<div class="container">
  <h1 class="text-center">Informe de Proyecto</h1>
  <p>Descripción:</p>
  <p>Desarrollar un sistema de visualización de películas disponibles en una plataforma la cual debe cumplir con las siguientes especificaciones:</p>
  <p><span class="highlight">1. Área Administrativa:</span><br>
  En esta se debe realizar la creación, lectura, actualización y borrado de las películas disponibles de la plataforma. En esta se debe tener en cuenta las siguientes condiciones:<br>
  a. Deben contar con los datos de nombre, cubierta (imagen), descripción, puntaje, estado, fecha de creación y fecha de modificación.<br>
  b. El estado debe poder determinar si está `publicada` o en `edición`.</p>
  <p><span class="highlight">2. Área Pública:</span><br>
  En esta se debe poder visualizar solamente las películas disponibles en la plataforma, es decir, aquellas con estado `publicado`. En esta se deben cumplir las siguientes condiciones:<br>
  a. Debe poder visualizarse toda su información (nombre, descripción, cubierta (imagen), puntaje).<br>
  b. Debe poder realizar la búsqueda de las películas por su nombre.<br>
  c. Debe poder organizar estas por las de mayor puntaje o última entrada (fecha de creación).</p>
  <p class="date">Fecha de recepción: 14/09/2024</p>
  <p class="date">Fecha de entrega: 16/09/2024</p>
  <p class="highlight">Aspirante: Jose Edwin Marulanda Baquero</p>
  <p class="highlight">Empresa: Vive Tu SAS</p>
  <div class="text-center">
    <button class="btn btn-primary" routerLink="/" >Volver</button>
  </div>
</div>
